<!DOCTYPE html>
<html lang="en">
<%- include('../inc/admin-head', {title: 'АДМИН-ПАНЕЛЬ' }) %>

	<body class="page-body">
		<%- include('../inc/admin-settings-pane') %>
			<div class="page-container">
				<%- include('../inc/admin-sidebar-menu', {menuElements: menuEl}) %>
					<div class="main-content">
						<%- include('../inc/admin-navbar-user', {HOST, PORT, user}) %>

							<!-- Content -->
							<div class="page-title">
			
                        <div class="title-env">
                           <h1 class="title"><%=rssChannelName%></h1>
                           <p class="description"></p>
                        </div>
                        <div class="breadcrumb-env">
                           <a href="javascript:;" onclick="jQuery('#modal-1').modal('show', {backdrop: 'fade'});" class="btn btn-red btn-single btn-sm">Удалить канал</a>
                        </div>
                        
            
                        
                     </div>
                     <div class="modal fade" id="modal-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <script>
                                 function channelDelete(){
                                    fetch(`http://<%=HOST%>:<%=PORT%>/admin/rss/delete/<%=rss_ch_id%>`)
                                 .then(()=>{
                                    document.location.replace("http://<%=HOST%>:<%=PORT%>/admin/")
                                 })
                              }
            
                              </script>
                              
                              <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                 <h4 class="modal-title">Удалить канал</h4>
                              </div>
                              
                              <div class="modal-body">
                                 Вы уверены что хотите удалить канал?
                              </div>
                              
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-white" data-dismiss="modal">Отмена</button>
                                 <button type="button" class="btn btn-red"  onclick="channelDelete()">Удалить</button>
                              </div>
                           </div>
                        </div>
                     </div>
            
                     
                     <div class="panel-body panel-border">
            
                        <div class="row">
                        <div class="col-sm-12">
               
                           <!-- Table Model 2 -->
                           <strong>Публикации RSS-канала</strong>
                           
                           <table class="table table-model-2 table-hover">
                              <thead>
                                 <tr>
                                    <th style="white-space: nowrap">Название</th>
                                    <th style="white-space: nowrap">Дата</th>
                                    <th style="white-space: nowrap"></th>
                                 </tr>
                              </thead>
                              
                              <tbody>
                                 <% RSS.forEach(pub => { %>
                                    <tr style="cursor: pointer">
                                       <td><%= pub.title %></td>
                                       <td><%= pub.date %></td>
                                       <% if (!pub.is_published){ %>
                                       <td align="right"><button class="btn btn-primary btn-icon" style="width: 140px;" onclick="publish_news('<%=pub.id%>', true)">
                                          <span>Опубликовать</span>
                                       </button></td>
                                       <% } else{ %>
                                       <td align="right"><button class="btn btn-white btn-icon" style="width: 140px;" onclick="publish_news('<%=pub.id%>', false)">
                                          <span>Снять с публикации</span>
                                       </button></td>
                                       <% } %>
                                    </tr>
                                 <%}) %>
            
                                 <script>
                                    function publish_news(video_id, is_published){
                                       fetch(`http://<%=HOST%>:<%=PORT%>/admin/rss/set-published?rss_id=${video_id}&is_published=${is_published}`)
                                       .then(()=>{
                                          location.reload()
                                       })
                                    }
                                 </script>
                                 
                                 
                                 
            
            
                              </tbody>
                           </table>
               
                           <script type="text/javascript">
                              
                              </script>
               
                        </div>
                        </div>
               
                        </div>


								<!-- END Content -->
								<%- include('../inc/admin-footer') %>
					</div>
			</div>
			</div>
			<%- include('../inc/admin-loader') %>
				<%- include('../inc/admin-scripts') %>
	</body>

</html>