<nav class="navbar user-info-navbar"  role="navigation"><!-- User Info, Notifications and Menu Bar -->
			
   <!-- Left links for user info navbar -->
   <ul class="user-info-menu left-links list-inline list-unstyled">

      <li class="hidden-sm hidden-xs">
         <a href="#" data-toggle="sidebar">
            <i class="fa-bars"></i>
         </a>
      </li>

      
      

      <!-- <li class="dropdown hover-line">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa-bell-o"></i>
            <span class="badge badge-purple">0</span>
         </a>

         <ul class="dropdown-menu notifications">
            
            
            <li>
               <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                  <li class="active notification-success">
                     <a href="#">
                        
                        
                        <span class="line">
                           <strong>New user registered</strong>
                        </span>
                        
                        <span class="line small time">
                           30 seconds ago
                        </span>
                     </a>
                  </li>

                  <li class="active notification-success">
                     <a href="#">
                        
                        
                        <span class="line">
                           <strong>New user registered</strong>
                        </span>
                        
                        <span class="line small time">
                           30 seconds ago
                        </span>
                     </a>
                  </li>

                  <li class="active notification-success">
                     <a href="#">
                        
                        
                        <span class="line">
                           <strong>New user registered</strong>
                        </span>
                        
                        <span class="line small time">
                           30 seconds ago
                        </span>
                     </a>
                  </li>
                  
                  
                  
                  
                  
                  
                  
                  
         
               </ul>
            </li>
            
            
         </ul>
      </li> -->
         

   </ul>


   <!-- Right links for user info navbar -->
   <ul class="user-info-menu right-links list-inline list-unstyled">
            <li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->

         

      </li>

      <li class="dropdown user-profile">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            
            <span>
               <% if (user) {%>
                  <%=user.first_name%> <%=user.last_name%>
               <% }%>
               <i class="fa-angle-down"></i>
            </span>
         </a>

         <ul class="dropdown-menu user-profile-menu list-unstyled">
            
            
            
            
            <li class="last">
               <a id="logout-a" style="cursor: pointer;">
                  <i class="fa-lock"></i>
                  Logout
               </a>
               <script>
                  function logout(){
                     document.querySelector('#logout-a').addEventListener('click', (e) => {
                        e.preventDefault()
                        fetch("http://<%=HOST%>:<%=PORT%>/api/auth/logout")
                        .then(() => {
                           location.href = "http://<%=HOST%>:<%=PORT%>/admin"
                        })
                     })
                     
                  }
                  logout()
               </script>
            </li>
         </ul>
      </li>

      

   </ul>

</nav>