<%- include('../inc/site-header', {user, HOST, PORT}) %>
 
   <main>
      <div class="container">
         <section class="youtube-rss">
            <h2>Спортивные youtube-каналы</h2>
            <div class="grid-content-wrapper">
               
               <div class="main-block video" data-vid="<%= videos[0].video_url.split('=')[1] %>">
                  <img class="grid-content-img" src="<%= videos[0].preview_url %>" alt="">
                  <div class="grid-content-about">
                     <div class="grid-content-author"><%= videos[0].author %></div>
                     <div class="grid-content-title"><%= videos[0].video_name %></div>
                  </div>
                  
               </div>
               <div class="side-blocks">
                  <div class="side-block video" data-vid="<%= videos[1].video_url.split('=')[1] %>">
                     <img class="grid-content-img" src="<%= videos[1].preview_url %>" alt="">
                     <div class="grid-content-about">
                        <div class="grid-content-author"><%= videos[1].author %></div>
                        <div class="grid-content-title"><%= videos[1].video_name %></div>
                     </div>
                  </div>
                  <div class="side-blocks-separator"></div>
                  <div class="side-block video" data-vid="<%= videos[2].video_url.split('=')[1] %>">
                     <img class="grid-content-img" src="<%= videos[2].preview_url %>" alt="" style="margin-bottom: 0rem;">
                     <div class="grid-content-about">
                        <div class="grid-content-author"><%= videos[2].author %></div>
                        <div class="grid-content-title"><%= videos[2].video_name %></div>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <section class="rss">
            
            <div class="rss-content">
               
               <div class="rss-post-link">
                  <div class="rss-content-posts">
                     <h2>RSS</h2>
                     <% rssPublications.forEach(publication => { %>
                        <a href="http://<%= HOST %>:<%=PORT%>/rss/<%= publication.id %>" style="text-decoration: none; color: black">
                           <div class="rss-post">
                              <% if (publication.categories) {%>
                                 <div class="rss-post-category"><%= publication.categories %></div>
                              <%} %>
                              
                              <% if (publication.content.length < publication.title.length) {%>
                                 <div class="rss-post-title"><%= publication.content %></div>
                                 <div class="rss-post-content"><%= publication.title %></div>
                              <%} else {%>
                                 <div class="rss-post-title"><%= publication.title %></div>
                                 <div class="rss-post-content"><%= publication.content %></div>
                              <%}%>
                              

                              <div class="rss-post-bottom">
                                 <div class="rss-post-author"><%= publication.channel %></div>
                                 <div class="rss-post-date">
                                    <svg fill="none" height="26" viewBox="0 0 26 26" width="26" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25Z" stroke="#B1B1B1" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                                       <path d="M16.6 14.4H12.2" stroke="#B1B1B1" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                                       <path d="M12 8V14" stroke="#B1B1B1" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                                    </svg>
                                    <span><%= publication.date %></span> 
                                 </div>
                              </div>
                           </div>
                        </a>
                     <% }) %>
                     
              
               
                     
                     
                     
                     
                  </div>
               </div>
               <%- include('../inc/site-sider', {}) %>
            </div>


            <div class="blog-content">
               <h2>Блог</h2>

               <% publications.forEach(pub => {%>
                  <a href="http://<%= HOST%>:<%=PORT%>/blog/<%= pub.id%>" class="blog-post-link">
                     <div class="blog-post">
                        <img src="<%= pub.img_url %>" alt="">
                        <div class="rss-post">
                           <div class="rss-post-category"><%= pub.category %></div>
                           <div class="rss-post-title"><%= pub.title %></div>
                           <div class="rss-post-bottom">
                              <div class="rss-post-author"><%= pub.user %></div>
                              <div class="rss-post-date">
                                 <svg fill="none" height="26" viewBox="0 0 26 26" width="26" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25Z" stroke="#B1B1B1" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                                    <path d="M16.6 14.4H12.2" stroke="#B1B1B1" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                                    <path d="M12 8V14" stroke="#B1B1B1" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                                 </svg>
                                 <span><%= pub.date %></span> 
                              </div>
                           </div>
                           <div class="rss-post-content"><%= pub.content %></div>
                           
                        </div>
                     </div>
                  </a>
               <% }) %>
               
               


            </div>

      </section>













      </div>
   </main>

   


   <%- include('../inc/site-footer', {}) %>
   

   

   