<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="assets/css/main.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300;1,700&display=swap" rel="stylesheet">
   <title>Sport</title>
</head>
<body>
   <%- include('../inc/site-nav', {HOST, PORT}) %>

   <main>
      <div class="container">
         
         <% if (rss){ %>
            <% rss.forEach(pub => { %>
               <a href="<%=pub.link%>" class="youtube-video-a">
                  <div class="youtube-video">
                     <div class="video-name"><%=pub.title%></div>
                     <div class="dev"></div>
                     <div class="channel-name"><%=pub.creator%></div>
                     <div class="video-date"><%=pub.date%></div>
                     <div class="video-description"><%=pub.content%></div>
                  </div>
               </a>
      
            <%})%>
      
            <% } %>

         

         

     


      </div>
   </main>
   
</body>
</html>